* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffccaa, #ff9999); /* Darker tone */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

form {
  background: rgba(255, 255, 255, 0.8);
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
  color: #555;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
}

input[type="text"] {
  width: calc(100% - 1.25rem); /* Make input field slightly smaller */
  padding: 0.625rem;
  margin-right: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
}

button {
  padding: 0.625rem 1.25rem;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

button:hover {
  background-color: #ff3b30;
}

/* Hide the result box initially */
#result {
  display: none;
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ccc;
  margin-top: 1.25rem;
}

/* Show the result box when it has content */
#result.show {
  display: block;
}

#result p {
  margin: 0.3125rem 0;
  color: #333;
}

#latitude,
#longitude,
#result p:nth-child(4), /* Soloppgang */
#result p:nth-child(5)  /* Solnedgang */ {
  font-size: 2rem; /* Double size */
}

#location-info {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ccc;
  margin-top: 1.25rem;
}

#location-info p {
  margin: 0.3125rem 0;
  color: #333;
}

#date-info {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ccc;
  margin-top: 1.25rem;
}

#date-info p {
  margin: 0.3125rem 0;
  color: #333;
  font-weight: bold; /* Make text bold */
}

/* Responsive design */
@media (max-width: 600px) {
  body {
    height: 100vh;
    padding: 0.625rem;
  }

  form {
    width: 100%;
    box-sizing: border-box;
  }

  input[type="text"] {
    width: calc(100% - 7.5rem);
    margin-right: 0.625rem;
  }

  button {
    width: 6.25rem;
    margin-top: 0.625rem;
  }
}

.round-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.25rem;
}
