body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffccaa, #ff9999); /* Darker tone */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"] {
  width: calc(100% - 20px); /* Make input field slightly smaller */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff3b30;
}

/* Hide the result box initially */
#result {
  display: none;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

/* Show the result box when it has content */
#result.show {
  display: block;
}

#result p {
  margin: 5px 0;
  color: #333;
}

#latitude,
#longitude,
#result p:nth-child(4), /* Soloppgang */
#result p:nth-child(5)  /* Solnedgang */ {
  font-size: 2em; /* Dobbel størrelse */
}

#location-info {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

#location-info p {
  margin: 5px 0;
  color: #333;
}

#date-info {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

#date-info p {
  margin: 5px 0;
  color: #333;
  font-weight: bold; /* Make text bold */
}

/* Responsiv design */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  form {
    width: 100%;
    box-sizing: border-box;
  }

  input[type="text"] {
    width: calc(100% - 120px);
    margin-right: 10px;
  }

  button {
    width: 100px;
    margin-top: 10px;
  }
}

.round-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
